<div class="HeaderWrapper">
    <div class="Header">
        <div class="HeaderLeftColumn">
            <a class="HeaderLogo" alt="Effortless Admin" href="http://www.effortlessadmin.com" target="_blank">
                <img src="{{ '/assets/img/logo.svg' | relative_url }}">
            </a>
        </div>
        <div class="HeaderCenterColumn">
            <h1>Information systems management system</h1>
            <h2>Effortless Admin's security policies and procedures</h2>
        </div>
        <div class="Clear">
        </div>
    </div>
</div>
